parameters:
	ignoreErrors:
		-
			message: "#^You should use assertCount\\(\\$expectedCount, \\$variable\\) instead of assertSame\\(\\$expectedCount, \\$variable\\-\\>count\\(\\)\\)\\.$#"
			count: 1
			path: tests/Country/CollectionTest.php
